<div>
    <input type="text" placeholder="Search for any movie..." ng-model="$ctrl.searchMovie" ng-change="$ctrl.onInputChange()">
</div>

<div>
    <h2>Filters</h2>
    <div>
        <h3>Genre</h3><input type="checkbox" ng-click="$ctrl.genres()" ng-model="selection">
        
        <select multiple size="19" ng-show="selection">
            <option ng-repeat="type in $ctrl.genre" value="type.id">{{type.name}}</option> 
        </select>
    </div>
    <!-- <div>
        <h3>Rating</h3>
        <lable>10</lable><input type="checkbox" ng-model="10">
        <lable>9</lable><input type="checkbox" ng-model="9">
        <lable>8</lable><input type="checkbox" ng-model="8">
        <lable>7</lable><input type="checkbox" ng-model="7">
        <lable>6</lable><input type="checkbox" ng-model="6">
        <lable>5</lable><input type="checkbox" ng-model="5">
        <lable>4</lable><input type="checkbox" ng-model="4">
        <lable>3</lable><input type="checkbox" ng-model="3">
        <lable>2</lable><input type="checkbox" ng-model="2">
        <lable>1 and below</lable><input type="checkbox" ng-model="1">
    </div>
    <div>
        <h3>Run Time</h3>
        <lable>0 - 60 min</lable><input type="radio">
        <lable>61 - 120</lable><input type="radio">
        <lable>121 - 180</lable><input type="radio">
        <lable>181 +</lable><input type="radio">
    </div> -->
</div>

<movie-list movies="$ctrl.movies"></movie-list>