ul {
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
    list-style: none;
}

li {
    padding: 5px;
}

.deletelist {
    width: 30px;
    height: 30px;
    padding: 5px;
    float: right;
    cursor: pointer;
}

.addlist {
    width: 30px;
    height: 30px;
    padding: 5px;
    float: right;
    cursor: pointer;
}

.green {
    background: lightgreen;
}


.cursor {
    cursor: pointer;
}

